.agencies {
  max-width: 600px;
  margin: 5px auto;
  padding: 15px;
}

.results {
  height: calc( 100vh - 168px );
  overflow: auto;
}

.results-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results-item {
  cursor: pointer;
  margin-top: 3px;
}

.results-item:hover {
  background-color: #80808015;
}

.results-count {
  font-style: italic;
}

.arrow {
}

.hidden {
  visibility: hidden;
}

.agencypage {
  height: calc( 100vh - 35px );
  overflow: auto;
}

.agencypage-stats {
  max-width: 285px;
  margin: 5px auto;
}

.agencypage-indent {
  
}

.agencypage-container {
  margin: 5px;
}

.agencypage-links {
  display: flex;
  justify-content: center;
  height: 96px;
}

.agencypage-links img {
  max-height: 100%;
  max-width: 100%;
}

.agencypage-links:hover {
  background-color: #00000025;
}

.events {
  margin: 1.5vh;
  height: 95vh;
}

.events-list {
  height: 90%;
  overflow: auto;
}