.agencies {
  max-width: 600px;
  margin: 5px auto;
  padding: 15px;
}

.results-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results-item {
  cursor: pointer;
  margin-top: 3px;
}

.results-item:hover {
  background-color: #80808025;
}

.results-count {
  font-style: italic;
}

.arrow {
  cursor: pointer;
}

.arrow:hover {
  box-shadow: 0px 0px 5px grey;
}

.hidden {
  visibility: hidden;
}

