.agencies {
  max-width: 600px;
  margin: 5px auto;
  padding: 15px;
}

.results {
  max-height: 500px;
  overflow: auto;
}

.results-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results-item {
  cursor: pointer;
  margin-top: 3px;
}

.results-item:hover {
  background-color: #80808015;
}

.results-count {
  font-style: italic;
}

.arrow {
}

.hidden {
  visibility: hidden;
}

